<!--#### Grace Hadiyanto
#### e-mail: ifoundparis@gmail.com
#### Assignment 7
#### CS223P-->

{% load staticfiles %}
{% load aphorisms_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'aphorisms/style.css' %}" />

<div class="filename">
  <h1>from {{ filename }}</h1>
</div>

<pre class="fortune-content">
  <p id="fortune">
    <!--uncomment block if want scrolling text
    <marquee behavior='slide' direction='up' scrollamount='2'loop='1' height='55%'>
      {{ fortune }}
    </marquee>-->
  </p>
</pre>

<div class="treasure" align="left">
  <img id="chest" src="{% static 'aphorisms/images/chest.gif' %}"/>
  <span class="date" align="right">
    <pre>
      <button onclick="document.getElementById('audio').pause()">Shh..</button>[Viewed on {{ date }}]
    </pre>
  </span>
</div>

<audio preload="auto" loop id="audio" src="{% static 'aphorisms/mechType.mp3' %}">
</audio>

<script type="text/javascript">
  var aphorism = "{{ fortune|escape_newlines }}";
  var img = "{% static 'aphorisms/images/chest.gif' %}";
  <!--marquee variables are for formatting scrolling text-->
  var marquee1 = "<marquee behavior='slide' direction='up' scrollamount='2'\
                           loop='1' height='60%'>";
  var marquee2= "</marquee>";
  var chest = document.getElementById("chest");
  var fortune = document.getElementById("fortune");
  var sound = document.getElementById("audio");
</script>

<script type="text/javascript" src="{% static 'aphorisms/TypingText.js' %}">
/****************************************************
* Typing Text script- By Twey @ Dynamic Drive Forums
* Visit Dynamic Drive for this script and more: http://www.dynamicdrive.com
* This notice MUST stay intact for legal use
****************************************************/
</script>

<script type="text/javascript" src="{% static 'aphorisms/index.js' %}">
</script>
